<div class="pre-lease-container">
  <div class='header'>
    <div>
      <h1 class="h1">Post Lease Analysis Report</h1>
    </div>
  </div>

  <hr/>

  <div class="section">

    <div class="row lease-basic-details">

      <div class="col-9">
        <app-basic-details [basicDetails]="leaseDetails.basicDetails"></app-basic-details>
      </div>

      <div class="col-3"></div>

    </div>

    <hr/>

    <div class="section-details">
      <div class="all-section-container">

        <div class="section-details" *ngFor="let section of allSectionsPartList">
          <app-pre-lease-table
            [tableHeading]="section.sectionName"
            [data]="section.partList"></app-pre-lease-table>
        </div>

      </div>
    </div>

  </div>

</div>
