<div class="scan-part-container">
  <div class='header'>
    <div>
      <h1 class="h1">Scan Part</h1>
    </div>
  </div>
  <hr />

  <div class="floating-container {{showCameraView ? ' camera-opened' : ''}}">
    <div class="actions">
      <div class="search" *ngIf="showCameraView">
        <mat-form-field>
          <mat-label>Select Outline</mat-label>
          <mat-select [(value)]="selectedOutlineImage" (selectionChange)="resetCapturedImage()" name="outlineImg">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let outlineImage of outlineImageList" [value]="outlineImage">
              {{outlineImage.image}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button name="toggle FullScreen" class="btn btn-default toggle-fullscreen" (click)='toggleFullScreen()' type="button">
        <img [src]="!fullScreenView ? '../../assets/images/fullscreen-enter.svg' : '../../assets/images/fullscreen-exit.svg'">
      </button>

      <button  [disabled]="!selectedOutlineImage"   type="button" class="btn btn-default trigger-snapshot not-focusable" (click)="triggerSnapshot();" *ngIf="showCameraView">
        {{ !webcamImage? ' Capture Image': 'Retake Image'}}
        <img src="../../assets/images/click-photo.svg">
      </button>

      <button type="button" class="btn btn-default toggle-camera not-focusable" (click)='toggleCamera()' >
        {{showCameraView ? 'Close' : 'Open'}} Camera
        <img src="../../assets/images/cross.svg">
      </button>

    </div>

    <app-camera *ngIf='showCameraView' #camera [imageSrc]='selectedOutlineImage && selectedOutlineImage.src || null ' [captureImageEvent]="" (pictureTaken)="handleImage($event)"></app-camera>
  </div>

  <form class="register-object">
    <div class="snapshot" *ngIf="webcamImage">
      <img class="col-lg-2 col-md-4 col-sm-12 col-xs-12" [src]="webcamImage.original.imageAsDataUrl" />
      <div class="btn-style col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <button type="button" *ngIf="webcamImage && webcamImage.original.imageAsDataUrl" class="btn btn-dark" (click)="onUpload()">Upload</button>
          
          <button type="button" *ngIf="webcamImage && webcamImage.original.imageAsDataUrl" class="btn btn-dark" (click)="generatePartList()">Generate Part List</button>  
      </div>
    </div>


  </form>

  <div class="part-list-table" *ngIf='dataSource.data.length'>
      <mat-table [dataSource]='dataSource' matSort class='mat-elevation-z8' matSortActive="name" matSortDirection="asc"
      matSortDisableClear>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Part Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.partName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gridLocation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Grid Location</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gridLocation}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Count</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalCount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.serialNumber}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="photo">
        <mat-header-cell class="mat-header-img" *matHeaderCellDef> Photo </mat-header-cell>
        <mat-cell class="mat-cell-img" *matCellDef="let element"><img [src]="element.photo" onerror="src='assetsimages/error_404.png';"/>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expectedStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Expected Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="square {{cssClassForStatus[element.expectedStatus]}}"></div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Detectedstatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Detected Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="square {{cssClassForStatus[element.Detectedstatus]}}"></div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5 , 10, 25, 100]"></mat-paginator>
  </div>

  <div class="final-report col-lg-2 col-md-4 col-sm-12 col-xs-12"  *ngIf='savedSections.length == outlineImageList.length'>
      <button type="button" class="btn btn-dark" (click)="generateFinalReport()">Generate Final Report</button>  
  </div>
  
</div>  
