.camera-container {
  .actionBtn {
    font-size: 4em;
    cursor: pointer;
  }

  .webcam-cont {
    position: relative;
    width: 50%;
    padding-bottom: 37.5%;
    margin: auto;

    .overlay-img {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      padding-bottom: 75%;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 70%;
      padding-bottom: 52.5%;
    }
    @media only screen and (max-device-width: 768px) {
      width: 100%;
      padding-bottom: 75%;
    }

    @media screen and (orientation: landscape) and (max-width: 823px) and (min-width: 375px) {
      margin: initial;
      width: calc(100vh * 4 / 3);
      padding-bottom: 100vh;

      + button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      margin: initial;
    }

  }

  .last-click {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    > img {
      height: 100%;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #0000006e;
    }
  }
  .snapshot {
    text-align: center;

    img {
      max-width: 350px;
      max-height: 350px;
    }
  }

  ul.links {
    padding-bottom: 20px;
  }

  .btn {
    background-color: black;
    color: white;
    border-radius: 0;
  }

  .not-focusable:focus {
    outline: none;
    box-shadow: none;
  }

  @media screen and (orientation: landscape) and (max-width: 823px) and (min-width: 375px) {
    position: absolute;
    top: 0;
    left: 0;
  }

}
